{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": [
          ">0.5%"
        ],
        "node": "current"
      }
    }],
    "@babel/react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", {
      "decoratorsBeforeExport": false
    }],
    ["@babel/plugin-proposal-class-properties", {
      "loose": true
    }],
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
